.btn {
  background-color: $orange;
  text-decoration: none;
  color: set-text-color($orange);
  padding: 0.625rem 3.4375rem;
  border: 0.1875rem solid $orange;
  font-size: 1.125rem;
  font-weight: 500;
  display: inline-block;
  @include b-radius;

  &:hover {
    background-color: $light-blue;
    color: $orange;
  }
}
