body {
  font-family: 'Roboto Slab', sans-serif;
  color: #262626;
  scroll-behavior: smooth;
  line-height: 1.5;
  background-color: $light-blue;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;

  & .menu {
    a {
      text-decoration: none;
    }
    a:hover {
      color: white;
    }
    & > :not(:last-child) {
      margin-right: 0.3125rem;
    }

    &_item {
      background-color: $dark-blue;
      padding: 0.3125rem;
      color: white;
      @include b-radius;
    }

    &_item.logout {
      background-color: red;
      border: none;
    }
  }
}

h3 {
  color: $dark-blue;
  margin-bottom: 1.25rem;
}

label {
  display: block;
}

a {
  color: $orange;
  text-decoration: none;
}

a:hover {
  color: $orange;
  text-decoration: underline;
}

input,
select {
  padding: 0.3125rem 0.625rem;
  width: 100%;
  background-color: white;
  border: 0.1875rem solid $dark-blue;
  margin-bottom: 1.25rem;
  @include b-radius;
}

.container {
  max-width: 59.375rem;
  margin: 0 auto;

  &--hp {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  &--vp {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;

    @include media-md {
      padding-top: 4.375rem;
      padding-bottom: 4.375rem;
    }
  }
}

.text-align-c {
  text-align: center;
}

.app-name {
  font-size: 1.75rem;
  font-weight: 700;
  background: $blue-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
