body {
  font-family: 'Roboto Slab', sans-serif;
  color: #262626;
  scroll-behavior: smooth;
  line-height: 1.5;
  background-color: $light-blue;
}

.container {
  max-width: 59.375rem;
  margin: 0 auto;

  &--hp {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  &--vp {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}

.text-align-c {
  text-align: center;
}

.app-name {
  font-size: 1.75rem;
  font-weight: 700;
  background: $blue-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
