$light-blue: #edf6f9;
$dark-blue: #1d4e89;
$orange: #ee6c4d;
$green: #06d6a0;
$red: #e63946;
$blue-gradient: -webkit-linear-gradient(
  30deg,
  #00b2ca 0%,
  #0897b8 16.67%,
  #0e80aa 31.77%,
  #1371a0 52.08%,
  #166699 66.67%,
  #195d93 84.38%,
  #1d4e89 100%
); ;
